main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    padding: 5px 5px 10px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 5px;
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    font-size: .9em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 431px) {
    main {
        background-color:brown;
        padding: 20px 20px 50px;
    }
    header {
        padding: 20px 20px;
        font-size: 1.5em;
    }
    .grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        margin: 10px auto;
        width: 100%;
        text-align: center;
    }
}

.card {
    /* Utilizar aspect-ratio para manter a proporção da imagem, ao invés do height */
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid #39813a;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    /* background-image: url('../img/back.jpg'); */
    background-image: url('./../img/back.jpg');
    backface-visibility: hidden;
}

/* Classe para mostrar cartas como desativadas */
.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.reveal-card {
    transform: rotateY(180deg);
}

/* As cartas serão reveladas ao clicar, então a classe .reveal-card será adicionada dinamicamente via JavaScript. A propriedade transform: rotateY(180deg) fará com que a carta gire, mostrando a face frontal. A propriedade backface-visibility: hidden; na classe .back garante que a face de trás da carta não seja visível quando a carta estiver virada. */
/* .card:hover {
    transform: rotateY(180deg);
} */